{% extends "base.html" %}
{% block title %}Забыли пароль{% endblock %}
{% block content %}
<div class="auth">
  <div class="page-head">
    <h1>Забыли пароль</h1>
    <p class="lead">Оставьте номер, с которого вы регистрировались. Мы позвоним, убедимся, что это вы, и пришлём ссылку для смены пароля.</p>
  </div>
  <form method="post" class="card">
    {% csrf_token %}
    {% include "includes/form_fields.html" %}
    <button type="submit" class="button">Отправить заявку</button>
  </form>
  <p class="auth-switch">Вспомнили пароль? <a href="{% url 'login' %}">Войти</a></p>
</div>
{% endblock %}
